  <!-- stylesheet.ejs top-nav.ejs sidebar.ejsを含む header -->

  <style>
    #form-add-book label.error {
      color: red;
    }
  </style>
  <%- include("partials/header")%>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">ブックの追加</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">ホーム</a></li>
              <li class="breadcrumb-item active">ブックの追加</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">ブックの追加</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <form method="post" id="form-add-book" enctype="multipart/form-data" action="/admin/add-book">
                  <div class="row">
                    <!--  タイトル -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>タイトル</label>
                        <input required name="name" type="text" class="form-control" placeholder="カテゴリ名を入力して下さい">
                      </div>
                    </div>

                    <!--  カテゴリーの選択 -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>カテゴリーの選択</label>
                        <select class="form-control" name="dd_category" required>
                          <option value="">カテゴリーの選択</option>
                          <% categories.forEach(element => { %>
                            <option value="<%= element.id %>"><%= element.name %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <!-- 内容 -->
                      <div class="form-group">
                        <label>内容</label>
                        <textarea name="description" placeholder="内容を入力してください" class="form-control"></textarea>
                      </div>
                    </div>
                    <!-- 数量 -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>数量</label>
                        <% if (currency_data !==null) { %>
                          (<%= currency_data.option_value  %> )
                        <% }else { %>

                        <% } %>
                        <input required name="amount" type="number" min="1" class="form-control" placeholder="数量を入力して下さい">
                      </div>
                    </div>
                  </div>
                  <!-- 書籍のカバー -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>書籍のカバー</label>
                          <input type="file" required name="cover_image" class="form-control">
                      </div>
                    </div>
                    <!-- 著者名 -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>著者</label>
                        <input required name="author" type="text" class="form-control" placeholder="著者を入力して下さい">
                      </div>
                    </div>
                  </div>

                  <!-- ステータス -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>状態の選択</label>
                        <select class="form-control" name="status">
                          <option value="1">アクティブ</option>
                          <option value="0">インアクティブ</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-dark" type="submit">送信</button>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (right) -->

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->





    <%- include("partials/footer")%> <!-- scriptを含むfooter -->



